<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div>
	<div class="col-m3"></div>
	<div class="col-m6">
		<input type="text" name="titulo" placeholder="titulo">
		<textarea placeholder=" descrição seu produto aqui"></textarea>
		<select>
			<option></option>
			<option></option>
			<option></option>
			<option></option>
			<option></option>
			<option></option>
			<option></option>
			<option></option>
		</select>
		<!-- esse input servirar para as imagens!-->
		<input type="" name="">
		<!-- esse input servirar para as valor obs tenta travar para inserir somente numeros!-->
		<input type="" name="">
	</div>
	<div class="col-m3"></div>
</div>
</body>
</html>
<!-- ESSA PAGINA SERA A PAGINA DE cadastro de produtos no site aonde de simples produtos aonde vou colocar pra inserir as fotos ou arquivos depois de inserir os dados pois retornarei os dados ja inseridos no mongo para auterar o nome dos arquivos e inserir fotos vai ser multiplos de uma so vez ou via metodo one dividios  !-->